@charset "utf-8";
/* CSS Document */

.title{
	font-size: 3rem;
}

.title-sub{
	font-size: 1.8rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

.shop-img{
	height: 350px;
}

.pan-text{
	font-size: 2.2rem;
	margin-bottom: 20px;
	border: 1px solid #000;
	width: 300px;
	margin: auto;
}


.pan-text-2{
	font-size: 2.2rem;
	border: 1px solid #000;
	width: 330px;
	margin: 0 auto 20px;
	text-align: justify;
}


.pan-text-3{
	font-size: 2.2rem;
	border: 1px solid #000;
	width: 300px;
	margin: 0 auto ;
	text-align: justify;
}


.slider{
 margin-top: 10px;

}

.pan{
	font-size: 1.8rem;
	margin-top: 10px;
}

.pan-top{
	font-size: 2rem;
}


.pan-a{
 border-bottom: 1px solid #FF0000;
	
}
  
.menu-m1{
	font-size: 3rem;
	margin-top: 30px;
	border: 1px solid #000;
	width: 120px;
	margin: 0 auto;
}

.menu-m2{
	font-size: 3rem;
	border: 1px solid #000;
	width: 120px;
	margin: 20px auto 0;
}

.menu-m3{
	font-size: 3rem;
	border: 1px solid #000;
	width: 300px;
	margin:  0 auto;
}


.menu-img{
	max-width: 50%;
	margin: auto;
}

.backcolor-m{
	background-color: #F9F7F7;
	padding: 20px 0;
}

.backcolor-m2{
	background-color: #F9F7F7;
	padding: 20px 0 0;
}

@media screen and (max-width:768px){
		
.menu-img{
	max-width:90%;
	margin: 0 auto;
}

	
	
		
	
	
	
	
	
}











